body{
    overflow-x: hidden;
    background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77);
    color: #e0e1dd;
    font-family: "Poppins", sans-serif;

}

a{
    text-decoration: none;
    font-style: unset;
    font-family: "Poppins", sans-serif;
}

button{
    color: inherit;
    border: none;
}